/* @tailwind base; */
@tailwind components;
@tailwind utilities;

a,
a:link,
a:visited,
a:hover,
a:active {
	color: inherit;
	text-decoration: none;
}

.background {
	background-color: #131c24;
	background-image: url("../images/logo.png"), url("../images/bg.png");
	background-position: top 15px left 20px, top left;
	background-repeat: no-repeat;
	background-size: 92px 100px, cover;
}

.post-border {
	border-radius: 10px;
	border: 1px solid #2d3748;
}

.post-border-plain {
	border-radius: 10px;
	border: 1px solid #2d3748;
}

.post-border:hover {
	border: 1px solid #3f4c63;
}
